@media (max-width: 767px) {
    #fundacja {
        background-image: url(logo_xs.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 250px;
    }

    #aktualnosci {
        background-image: url(spotkanie_xs.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 250px;
    }

    #wydarzenia {
        background-color: #FFFFFF; //RGB(39,170,226);
        height: auto;
    }

    #ludzie {
        background-image: url(zawodnik_xs.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 250px;
    }

    #multimedia {
        background-color: #FFFFFF;
        height: auto;
    }

    #wspolpraca {
        background-image: url(szpada_xs.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 250px;
    }

    #partnerzy {
        background-color: #FFFFFF; //RGB(172,210,89);
        height: auto;
    }

    #stopka {
        background-color: #FFFFFF;
        height: auto;
    }

    #film {
        width: 560px;
        height: 315px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #fundacja {
        background-image: url(logo_sm.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 400px;
    }

    #aktualnosci {
        background-image: url(spotkanie_sm.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 400px;
    }

    #wydarzenia {
        background-color: #FFFFFF; //RGB(39,170,226);
        height: auto;
    }

    #ludzie {
        background-image: url(zawodnik_sm.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 400px;
    }

    #multimedia {
        background-color: #FFFFFF;
        height: auto;
    }

    #wspolpraca {
        background-image: url(szpada_sm.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 400px;
    }

    #partnerzy {
        background-color: #FFFFFF; //RGB(172,210,89);
        height: auto;
    }

    #stopka {
        background-color: #FFFFFF;
        height: auto;
    }

    #film {
        width: 672px;
        height: 378px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #fundacja {
        background-image: url(logo_md.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 600px;
    }

    #aktualnosci {
        background-image: url(spotkanie_md.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 600px;
    }

    #wydarzenia {
        background-color: #FFFFFF; //RGB(39,170,226);
        height: auto;
    }

    #ludzie {
        background-image: url(zawodnik_md.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 600px;
    }

    #multimedia {
        background-color: #FFFFFF;
        height: auto;
    }

    #wspolpraca {
        background-image: url(szpada_md.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 600px;
    }

    #partnerzy {
        background-color: #FFFFFF; //RGB(172,210,89);
        height: auto;
    }

    #stopka {
        background-color: #FFFFFF;
        height: auto;
    }

    #film {
        width: 896px;
        height: 504px;
    }
}

@media (min-width: 1200px) {
    #fundacja {
        background-image: url(logo_lg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 900px;
    }

    #aktualnosci {
        background-image: url(spotkanie_lg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 900px;
    }

    #wydarzenia {
        background-color: #FFFFFF; //RGB(39,170,226);
        height: auto;
    }

    #ludzie {
        background-image: url(zawodnik_lg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 900px;
    }

    #multimedia {
        background-color: #FFFFFF;
        height: auto;
    }

    #wspolpraca {
        background-image: url(szpada_lg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 900px;
    }

    #partnerzy {
        background-color: #FFFFFF; //RGB(172,210,89);
        height: auto;
    }

    #stopka {
        background-color: #FFFFFF;
        height: auto;
    }

    #film {
        width: 1120px;
        height: 630px;
    }
}
