@media (max-width: 767px) {
    #fundacja {
        height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #fundacja {
        height: 400px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #fundacja {
        height: 600px;
    }
}

@media (min-width: 1200px) {
    #fundacja {
        height: 900px;
    }
}
.nav{
    background-color: #fff;
    
}
#fundacja {
    background-image: url(logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

@media (max-width: 767px) {
    #aktualnosci {
        height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #aktualnosci {
        height: 400px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #aktualnosci {
        height: 600px;
    }
}

@media (min-width: 1200px) {
    #aktualnosci {
        height: 900px;
    }
}

#aktualnosci {
    background-image: url(logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
div .row{
    margin-top: 60px;
}
div .row h1{
    font-size: 65px;
    text-align: center;
    color: #0873b9;
}
#ludzie {
}

#wydarzenia {
}

#multimedia {
}

#wspolpraca {
}

#partnerzy {
   
}
.jumbotron{
    height: 600px;
    background-size: cover;
    background-image: url("zawodnik.jpg");
    align-items: center;
    display: flex;
    
}
.jumbotron h1 {
    font-size: 60px;
    font-weight: 600;
    margin-top: 200px;
    color: rgb(0,0,0);
    
}
#stopka {
    background-color: #f0f0f0;
}
